.homeNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.navButton {
  font-size: 15px;
  background: none;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.3s;
  text-align: center;
  font-weight: 600;
}

.navButton:hover {
  color: #ffb415;
  background-color: transparent;
}

.logoutButton {
  color: #d9534f;
}

.logoutButton:hover {
  font-weight: 800;
  color: #c9302c;
}

.navToggle {
  display: none;
}

.navToggleCheckbox {
  display: none;
}

.navToggleImage {
  padding-top: 3px;
  width: 100px;
}

.navToggleLabel {
  display: none;
}

.navMenu {
  display: flex;
  gap: 1rem;
}

.navLogo {
  margin-top: 8px;
  width: 110px;
  height: 20px;
}

@media (max-width: 768px) {
  .homeNav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .navToggle {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    margin-left: auto;
    margin-bottom: 1rem;
  }

  .navToggleLabel {
    display: block;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .navToggleCheckbox:checked ~ .navMenu {
    display: flex;
  }
}
