html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.homeContainer {
  background: linear-gradient(to bottom right, #fff4dd, #f6cf7a);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 2rem;
  box-sizing: border-box;
}

.homeNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 1000;
  transition: transform 0.6s ease;
}

.headerLogo {
  width: 150px;
  height: auto;
}

.homeHeader {
  margin-top: 5rem; /* Adjusted for fixed navbar */
  text-align: center;
  margin-bottom: 2rem;
}

.back {
  width: 20%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s, transform 0.3s ease;
  background-color: #6d4934;
  color: #fff;
}

button:hover {
  background-color: #a67c52;
  color: #fff;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}
