.container {
  background-color: #ffecc4;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.canvas {
  margin-right: 200px;
  position: absolute;
  width: 70%;
  height: 80%;
  background-color: #fff;
  border-radius: 30px;
}

.buttonContainer {
  position: absolute;
  right: 0;
  top: 15%;
  width: 20vw;
  height: 80vh;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 9999;
}

.button {
  width: 100%;
  max-width: 170px;
  color: #311505;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  color: white;
  background-color: #311505;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: bold;
  color: red;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;
  border-radius: 10px;
}

.recording-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 32px;
  font-weight: bold;
  color: red;
}

@media (max-width: 600px) {
  .canvas {
    width: 50%;
    height: 60%;
  }
}
